*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.box{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}
.box-blue{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: -1;
}

